:root {
  --violeta: #22223b;
  --grisaseo: #4a4e69;
  --lavanda: #9a8c98;
  --claro: #c9ada7;
  --beige: #f2e9e4;
}

/* -------------------------------- RESET -------------------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Hind Madurai", sans-serif;
  /* border: 1px solid crimson; */
}

/* -------------------------------- SIGN UP -------------------------------- */

body {
  /* overflow: hidden; */
  background: var(--violeta);
}

#login {
  height: 100vh;
  width: 100%;
}

.form__container,
.formulario,
#login,
.form__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__container,
.formulario {
  flex-direction: column;
}

.form__top {
  position: relative;
  right: 270px;
  bottom: 30px;
  font-size: 10px;
  color: var(--grisaseo);
}

.form__container {
  max-width: 1200px;
  padding: 3rem 5rem;
  background: var(--grisaseo);
  gap: 1.5rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.formulario {
  padding: 3rem 0rem;
  gap: 1.5rem;
}

.form__bottom {
  width: 100%;
  padding: 1rem;
  border-top: 2px solid var(--beige);
  gap: 0.5rem;
}

.datos_personales,
.datos_acceso,
.datos_contacto {
  display: flex;
  gap: 1rem;
}

input {
  padding: 0.8rem 2rem;
  border: 1px solid var(--claro);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  outline: none;
}

h2 {
  color: var(--claro);
  text-transform: uppercase;
}

p,
.form__bottom a {
  color: var(--claro);
}

.form__top i:hover,
.form__bottom a:hover {
  color: var(--beige);
  text-decoration: underline;
  transition: 0.1s ease;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
}

.login__button {
  font-weight: 600;
  color: var(--violeta);
  background: var(--beige);
  text-transform: uppercase;
  width: 80%;

  padding: 0.7rem;
}

.login__button:hover {
  color: var(--beige);
  background: var(--violeta);
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

input:active,
input:focus {
  border: 2px solid var(--violeta);
  transition: 0.1s ease;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
}

i {
  color: var(--lavanda);
  font-size: 10px;
}

/* -------------------------------- RESPONSIVE -------------------------------- */

@media (max-width: 992px) {
  .datos_personales,
  .datos_acceso,
  .datos_contacto {
    flex-direction: column;
    max-height: 100vh;
  }
}
