@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400&family=Lora:ital,wght@0,400;1,400;1,500&family=Signika:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

:root {
  --violeta: #22223b;
  --grisaseo: #4a4e69;
  --lavanda: #9a8c98;
  --claro: #c9ada7;
  --beige: #f2e9e4;
}

/* 
font-family: 'Hind Madurai', sans-serif;

font-family: 'Lora', serif;

H1: font-family: "Caveat";
/* 

-------------------------------- RESET -------------------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Hind Madurai", sans-serif;
  border: 1px solid crimson;
}

/* -------------------------------- HEADER -------------------------------- */

header {
  width: 100%;
  height: 80px;
  padding: 0 2rem;
  background: var(--grisaseo);
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navbar__list {
  display: flex;
  gap: 1rem;
}

.navbar__list a {
  color: var(--beige);
  border: 1px solid var(--claro);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  padding: 5px 15px;
}

.logo {
  width: 100px;
}

.header__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header__icons img {
  width: 25px;
}

.fa-user,
.fa-cart-shopping {
  color: var(--claro);
  font-size: 1rem;
}

/* -------------------------------- RESPONSIVE NAVBAR -------------------------------- */

.fa-bars {
  font-size: 1.2rem;
  display: none;
}

#toggle-menu {
  display: none;
}

@media (max-width: 800px) {
  .navbar ul {
    background: var(--grisaseo);
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .fa-bars {
    color: var(--claro);
    display: block;
  }

  #toggle-menu:checked + .navbar__list {
    display: flex;
  }

  .navbar__list {
    padding-right: 0;
  }
}

/* -------------------------------- CART -------------------------------- */

#toggle-cart {
  display: none;
}

.cart::-webkit-scrollbar {
  display: none;
}

.cart {
  position: absolute;
  right: 0;
  top: 80px;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow-y: scroll;
  transform: translate(200%);
  transition: all 0.5s ease-in-out;
  z-index: 2;
  display: none;
  background: white;
  border: 2px solid var(--violeta);
  width: 50%;
}

#toggle-cart:checked + .cart {
  display: flex;
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}

.cart__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.cart h3 {
  color: var(--violeta);
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  padding-top: 2rem;
}

.cart__line {
  border-top: 1px solid var(--claro);
  width: 80%;
}

.fa-bag-shopping {
  font-size: 30px;
  color: var(--lavanda);
}

.cart p {
  color: var(--grisaseo);
  text-align: center;
}

/* -------------------------------- HERO -------------------------------- */

#hero {
  background-image: url(./hero_bg.png);
  background-position: center;
  background-size: cover;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.hero__container h1 {
  color: var(--violeta);
  font-family: "Caveat";
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
}

.hero__container p {
  color: var(--violeta);
  font-weight: 400;
  font-size: 1.5rem;
  width: 50%;
  text-align: center;
}

.hero__container span {
  text-transform: uppercase;
}

.hero__container__buttons a {
  padding: 5px 15px;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  border: 2px solid var(--beige);

  background: linear-gradient(to right, var(--violeta), var(--grisaseo));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "Lora", serif;
  font-weight: 600;
}

/* -------------------------------- INFO -------------------------------- */

#about_info {
  margin: 7rem auto;
}

#about_info,
.about_info_container,
.container__cajas,
.cajas__info {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about_info img {
  height: 100px;
}

.about_info_container {
  padding: 0 1rem;
  max-width: 1200px;
  gap: 1rem;
}

.container__cajas {
  width: 80%;
}

.cajas__info {
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.cajas__info h2 {
  font-family: "Lora", serif;
  font-size: 20px;
}

.cajas__info p {
  width: 80%;
  font-size: 14px;
}

#about_info span {
  color: var(--claro);
  font-size: 3rem;
}

/* -------------------------------- PRODUCTOS -------------------------------- */

#productos {
  background: var(--violeta);
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

#productos h1 {
  color: var(--beige);
  font-family: "Caveat";
  font-size: 3rem;
  padding: 5rem 0;
}

.productos__container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}

.product {
  border: 1px solid var(--claro);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.product__info h3 {
  font-family: "Lora", serif;
  color: var(--claro);
}

.product__price p,
span {
  color: var(--beige);
}

.product__price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.img_product {
  padding: 1rem;
  width: 300px;
  max-height: 300px;
  min-height: 300px;
  object-fit: cover;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.product button {
  color: var(--beige);
  background: var(--lavanda);
  text-transform: uppercase;
  width: 80%;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border: none;
}

.productos_mas {
  background: var(--beige);
  color: var(--violeta);

  margin: 3rem 0;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

/* -------------------------------- SERVICIOS -------------------------------- */

#servicios {
  width: 100%;
  margin: 3rem auto;
  padding: 3rem;
}

#servicios,
.servicios__container,
.servicios_imagen,
.servicios_info,
.container_info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicios__container {
  margin: 0 auto;
  padding: 2rem;
  max-width: 1200px;
  border: 1px solid var(--claro);
  flex-direction: column;
}

#servicios h1 {
  color: var(--grisaseo);
  font-family: "Caveat";
  font-size: 3rem;
  text-align: center;
}

.servicios_info {
  flex-direction: column;
  gap: 2rem;
}

.servicios_info p {
  color: var(--violeta);
  width: 80%;
  font-size: 14px;
}

.servicios__container li {
  color: var(--violeta);
  list-style: inside;
}

.servicios_imagen img {
  width: 400px;
  object-fit: cover;
}

/* -------------------------------- NOSOTROS -------------------------------- */

#nosotros {
  margin-top: 200px;
  background: var(--violeta);
  width: 100%;
}

#nosotros,
.nosotros__container,
.nosotros_texto,
.nosotros_imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nosotros__container {
  margin: 0 auto;
  max-width: 1000px;
  height: 450px;
  padding: 100px;
  gap: 2rem;
}

.nosotros_imagen img {
  width: 350px;
  border: 1px solid var(--beige);
}

.nosotros__container h2 {
  color: var(--claro);
  font-family: "Caveat";
  font-size: 30px;
  margin-bottom: 1rem;
}

.nosotros__container p {
  color: var(--beige);
  text-align: center;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.nosotros_texto {
  flex-direction: column;
}

/* -------------------------------- CONTACTO -------------------------------- */

#contacto {
  margin: 100px auto;
  padding: 3rem;
  width: 100%;
  flex-direction: column;
}

#contacto,
.contacto_container,
.contacto_top,
.formulario,
.map,
.contacto_info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto_top {
  gap: 2rem;
}

.contacto_container {
  padding: 3rem;
  flex-direction: column;
  max-width: 1200px;
  padding-bottom: 1rem;
}

#contacto span {
  width: 80%;
  border: 1px solid var(--lavanda);
}

.formulario {
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  border: 1px solid var(--claro);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.contacto_info {
  width: 100%;
  font-size: 14px;
}

.contacto_info ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formulario h3 {
  padding: 0.5rem;
  color: var(--grisaseo);
  font-family: "Lora", serif;
  text-align: center;
}

.form_top,
.form_bottom {
  display: flex;
  gap: 1rem;
}

textarea {
  min-width: 400px;
  max-width: 400px;
  max-height: 100px;
  min-height: 100px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  outline: 1px solid var(--claro);
}

input {
  padding: 5px;
  border: none;
  outline: 1px solid var(--claro);
  border-bottom: 1px solid var(--violeta);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.form_submit {
  padding: 0.5rem 2rem;
  outline: none;
  background: var(--violeta);
  color: var(--beige);
}

.redes,
.redes_links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.redes {
  margin: 3rem;
  flex-direction: column;
}

.redes p {
  font-style: italic;
}

.map {
  width: 100%;
  margin-top: 5rem;
}

i {
  color: var(--violeta);
}

.copyright,
.copyright a {
  text-align: center;
  font-size: 12px;
  color: var(--lavanda);
}
