@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400&family=Lora:ital,wght@0,400;1,400;1,500&family=Signika:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

:root {
  --violeta: #22223b;
  --grisaseo: #4a4e69;
  --lavanda: #9a8c98;
  --claro: #c9ada7;
  --beige: #f2e9e4;
}

/* -------------------------------- RESET -------------------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Hind Madurai", sans-serif;
  /* border: 1px solid crimson; */
}

/* -------------------------------- USER PAGES -------------------------------- */

body {
  color: var(--beige);
  background: var(--violeta);
}

#signup,
#login {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__container {
  margin: 0 1rem;
  padding: 1rem;
  background: var(--grisaseo);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.form__container,
.formulario {
  padding-block: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

input {
  background: var(--beige);
  padding: 0.3rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  outline: none;
  border: 2px solid var(--claro);
}

h2 {
  color: var(--beige);
  font-size: 18px;
  text-transform: uppercase;
}

.form__bottom {
  display: flex;
  gap: 1rem;
  border-top: 1px solid var(--lavanda);
}

p,
a {
  margin-top: 10px;
  color: var(--beige);
  font-size: 14px;
}

.login__button {
  width: 50%;
  padding: 0.3rem;

  color: var(--beige);
  background: var(--violeta);
  border: 2px solid var(--lavanda);
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.datos_personales,
.datos_contacto,
.datos_acceso {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.form__top i {
  font-size: 10px;
  color: var(--lavanda);
}

.form__top i:hover {
  font-style: italic;
}

/* -------------------------------- RESPONSIVE -------------------------------- */

@media (max-width: 992px) {
  body {
    height: 100vh;
  }

  .datos_personales,
  .datos_contacto,
  .datos_acceso {
    flex-direction: column;
  }

  .formulario {
    gap: 0.3rem;
  }
}

/* -------------------------------- ANIMACIONES -------------------------------- */

input:focus {
  background: #2b2b4a;
  border: 2px solid var(--beige);
}

.login__button:hover {
  cursor: pointer;
  background: #2b2b4a;
  border: none;
}

.form__bottom a:hover {
  color: var(--claro);
}
